<template>

    <div>

        <div class="row">

                <div class="block block-bordered">
                    <div class="block-content">

                        Billing Checkout

                    </div><!-- END block-content -->
                </div><!-- END block -->

        </div>

        <div class="block">
            {{ record }}
        </div>

    </div>

</template>


<script>
export default {
    data() {
        return {
            record: undefined,
            tenants: undefined,
        }
    },
    mounted() {
        axios
        .get('http://labs-api.valet/v1/admin/tenant/accounts/' + this.id)
        .then((response) => {
            this.record = response.data.data;
        });
    },
    props: ['id']
}
</script>
