<template>
    <b-container fluid>

        <b-form @submit="onSubmit" @reset="onReset" v-if="show">

            <div class="block block-bordered">
                <div class="block-content">
                    <b-row>
                        <b-col sm="8">
                            <b-form-group
                              id="name-form-group"
                              label="Template Name"
                              label-for="name"
                              description="Example: My Demo Template 1"
                            >
                              <b-form-input
                                id="name"
                                v-model="form.name"
                                type="text"
                                required
                                placeholder=""
                              ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col sm="4">
                            <b-form-group
                              id="version-form-group"
                              label="Version Number"
                              label-for="version"
                              description="Example: 1.0"
                            >
                              <b-form-input
                                id="version"
                                v-model="form.version"
                                type="text"
                                required
                                placeholder=""
                                value="1.0"
                              ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col sm="12">
                            <b-form-group
                              id="description-form-group"
                              label="Description"
                              label-for="description"
                              description="Example: This image template includes our product pre-installed with a base set of sample data that is designed for sales demos."
                            >
                              <b-form-textarea
                                id="description"
                                v-model="form.description"
                                placeholder=""
                              ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>

                </div>
            </div>

            <div class="block block-bordered">
                <div class="block-header">
                    <h3 class="block-title">Virtual Machine</h3>
                </div>
                <div class="block-content">

                    <b-row>

                        <b-col sm="8">

                            <b-form-group label="Button style radios with outline-primary variant and size lg">
                            <b-form-radio-group
                            id="btn-radios-2"
                            v-model="selected"
                            :options="options"
                            buttons
                            button-variant="outline-primary"
                            size="lg"
                            name="radio-btn-outline"
                            ></b-form-radio-group>
                            </b-form-group>

                            <fieldset class="form-group">
                            <legend tabindex="-1" class="col-form-label pt-0">Button style radios with outline-primary variant and size lg</legend>
                            <div tabindex="-1" role="group">
                            <div id="btn-radios-2" role="radiogroup" tabindex="-1" class="btn-group-toggle btn-group btn-group-lg">
                            <label class="btn btn-outline-primary btn-lg active">
                            <input id="btn-radios-2__BV_option_0_" type="radio" name="radio-btn-outline" autocomplete="off" class="" value="radio1"><span><i class="icon-Windows-Microsoft"></i></span>
                            </label>
                            <label class="btn btn-outline-primary btn-lg">
                            <input id="btn-radios-2__BV_option_1_" type="radio" name="radio-btn-outline" autocomplete="off" class="" value="radio2"><span><i class="icon-Linux"></i></span>
                            </label>
                            <label class="btn btn-outline-primary btn-lg disabled">
                            <input id="btn-radios-2__BV_option_2_" type="radio" name="radio-btn-outline" disabled="disabled" autocomplete="off" class="" value="radio3"><span><i class="icon-Debian"></i></span>
                            </label>
                            <label class="btn btn-outline-primary btn-lg">
                            <input id="btn-radios-2__BV_option_3_" type="radio" name="radio-btn-outline" autocomplete="off" class="" value="radio4"><span><i class="icon-Redhat"></i></span>
                            </label>
                            </div>
                            </div>
                            </fieldset>

                              <b-form-group id="input-group-4">
                                <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
                                  <b-form-checkbox value="me">Check me out</b-form-checkbox>
                                  <b-form-checkbox value="that">Check that out</b-form-checkbox>
                                </b-form-checkbox-group>
                              </b-form-group>

                          </b-col>

                          <b-col sm="4">

                              <b-form-group label="Stacked button style radios">
                                 <b-form-radio-group
                                   id="btn-radios-3"
                                   v-model="selected"
                                   :options="imageSizeOptions"
                                   buttons
                                   stacked
                                   name="radio-btn-stacked"
                                 ></b-form-radio-group>
                               </b-form-group>

                              <b-list-group>
                                <b-list-group-item>
                                    <i class="icon-CPU"></i>
                                    2 vCPU
                                </b-list-group-item>
                                <b-list-group-item>
                                    <i class="icon-Ram"></i>
                                    8GB RAM
                                </b-list-group-item>
                                <b-list-group-item>
                                    <i class="icon-HDD"></i>
                                    25GB SSD
                                </b-list-group-item>
                              </b-list-group>

                          </b-col>

                      </b-row>

                  </div>
              </div>

          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>



        </b-form>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>

    </b-container>
</template>

<script>
  export default {
    data() {
      return {
          cloudRegions: undefined,
        form: {
          email: '',
          name: '',
          food: null,
          checked: []
        },
        foods: [{ text: 'Select One', value: null }, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
        show: true,
        selected: 'radio1',
        options: [
          { text: 'Radio 1', value: 'radio1' },
          { text: 'Radio 3', value: 'radio2' },
          { text: 'Radio 3 (disabled)', value: 'radio3', disabled: true },
          { text: 'Radio 4', value: 'radio4' }
      ],
      imageSizeOptions: [
          { text: 'Size 1', value: 'size1' },
          { text: 'Size 2', value: 'size2' },
          { text: 'Size 3', value: 'size3' },

      ]
      }
    },
    mounted() {
        axios
        .get('http://labs-api.valet/v1/admin/cloud/regions?include=image-sizes,image-flavors')
        .then((response) => {
            this.cloudRegions = response.data.data;
        });

    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>
