<template>

    <div>

        <div class="row mt-4">

            <div class="col-12">

                <ul class="list-group push">
                    <li class="list-group-item">
                        <card class='stripe-card my-2 mx-2'
                          :class='{ complete }'
                          :stripe='stripe_api_publish_key'
                          :options='stripeOptions'
                          @change='complete = $event.complete'
                        />

                    </li>
                </ul>

                <input type="hidden" name="stripe_token" id="stripe_token" :value="stripeToken" />

            </div>

        </div>

        <div class="text-center pt-3">
            <button class="btn btn-lg btn-outline-success" @click='updateCard' :disabled='!complete'>
                Activate Subscription<i class="fa fa-chevron-right ml-2"></i>
            </button>
        </div>

    </div>



</template>


<script>

import { Card, createToken } from 'vue-stripe-elements-plus'

export default {
  data () {
    return {
      complete: false,
      stripeToken: 123,
      stripeOptions: {
        // see https://stripe.com/docs/stripe.js#element-options for details
      }
    }
  },

  components: { Card },

  methods: {
    updateCard () {
      // createToken returns a Promise which resolves in a result object with
      // either a token or an error key.
      // See https://stripe.com/docs/api#tokens for the token object.
      // See https://stripe.com/docs/api#errors for the error object.
      // More general https://stripe.com/docs/stripe.js#stripe-create-token.
      // createToken().then(data => console.log(data.token))
      createToken().then(function(data) {
          stripeToken = data.token;
      });
    }
  },
  props: ['stripe_api_publish_key']
}

</script>

<style>
.stripe-card {
  /*width: 300px;
  border: 1px solid grey;
  */
 padding: 0px;
 margin: 0px 0px;
 border: 0px;
 /*border: 1px #ddd solid;*/
}
.stripe-card.complete {
    /*
  border-color: green;
  */
}
</style>
