<template>

    <div>

        <div class="row">
            <div class="col-lg-7">

                <div class="block block-bordered">
                    <div class="block-content">

                        <h2 class="content-heading pt-0 d-flex">
                            <div class="flex-fill">
                                User Account
                            </div>
                            <div class="flex-00-auto">
                                <b-button v-b-modal.create-user-account-modal variant="outline-primary" class="m-0">Edit User Account</b-button>
                                <!--<small><code>{{ record.short_id }}</code></small>-->
                            </div>
                        </h2>

                        <div class="row">
                            <div class="col-lg-6">
                                <form class="mb-5" action="#">

                                    <div class="form-group">
                                        <strong>Full Name</strong><br />
                                        {{ record.full_name }}
                                    </div>
                                    <div class="form-group">
                                        <strong>Organization Name</strong><br />
                                        <span v-if="record.organization_name != null">
                                            {{ record.organization_name }}
                                        </span>
                                        <span v-else>
                                            Not Associated
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <strong>Phone Number</strong><br />
                                        +{{ record.phone_country_code }} {{ record.phone_number }}
                                        <span v-if="record.flags.flag_2fa_enabled == 1" class="badge badge-pill badge-success ml-2">
                                            2FA Enabled
                                        </span>
                                        <span v-else class="badge badge-pill badge-secondary ml-2">
                                            2FA Not Enabled
                                        </span>
                                    </div>

                                </form>
                            </div><!-- END col -->
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <strong>Primary Email</strong><br />
                                    {{ record.email }}
                                </div>
                                <div class="form-group">
                                    <strong>Recovery Email</strong><br />
                                    {{ record.email_recovery }}
                                </div>

                            </div><!-- END col -->

                        </div><!-- END row -->

                        <h2 class="content-heading pt-0 mb-2 d-flex">
                            <div class="flex-fill">
                                Team Accounts
                            </div>
                            <div class="flex-00-auto">
                                <b-button v-b-modal.create-user-account-modal variant="outline-primary" class="m-0">Attach Team</b-button>
                            </div>
                        </h2>

                        <table class="table table-borderless">
                            <tbody>
                                <template v-for="tenant_user in record.relationships.tenant_users.data">
                                    <tr>
                                        <td><b-button size="sm" variant="outline-primary" :href="'/admin/auth/user/accounts/' + record.id + '/tenants/' + tenant_user.relationships.tenant_account.data.id"><i class="si si-magnifier" /></b-button></td>
                                        <td>
                                            {{ tenant_user.relationships.tenant_account.data.name }}<br />
                                            <small>
                                                <span v-if="tenant_user.relationships.tenant_account.data.custom_fqdn != null">
                                                    {{ tenant_user.relationships.tenant_account.data.custom_fqdn }} (Custom)<br />
                                                </span>
                                                <span v-else>
                                                    {{ tenant_user.relationships.tenant_account.data.slug }} (Subdomain)<br />
                                                </span>
                                                <span v-if="tenant_user.relationships.tenant_account.data.user_support_email != null">
                                                    {{ tenant_user.relationships.tenant_account.data.user_support_email }} (Support)
                                                </span>
                                            </small>

                                        </td>
                                        <td>
                                            <small>
                                                <span v-if="tenant_user.timestamps.expires_at != null">
                                                    Granted {{ tenant_user.timestamps.created_at }}<br />
                                                    Expires {{ tenant_user.timestamps.expires_at }}
                                                </span>
                                                <span v-else>
                                                    Granted {{ tenant_user.timestamps.created_at }}<br />
                                                    Access Does Not Expire
                                                </span>
                                            </small>
                                        </td>
                                        <td>
                                            <span v-if="tenant_user.relationships.tenant_account.data.status == 'active'" class="badge badge-pill badge-success">
                                                Active
                                            </span>
                                            <span v-else-if="tenant_user.relationships.tenant_account.data.status == 'expired'" class="badge badge-pill badge-danger">
                                                Expired
                                            </span>
                                            <span v-else class="badge badge-pill badge-secondary">
                                                Unknown
                                            </span>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>

                        <h2 class="content-heading pt-0">Security Roles</h2>

                        <h2 class="content-heading pt-0">Devices</h2>

                    </div><!-- END block-content -->
                </div><!-- END block -->

            </div>

            <div class="col-lg-5">

                <!-- Last Successful Login -->
                <div v-if="record.timestamps.last_logged_in_at != null">
                    <div class="alert alert-success" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Last Successful Login</h3>
                        <p class="mb-0">{{ record.timestamps.last_logged_in_at }}</p>
                    </div>
                </div>
                <div v-else>
                    <div class="alert alert-warning" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Last Successful Login</h3>
                        <p class="mb-0">Has Not Logged In Yet</p>
                    </div>
                </div>

                <!-- Last Failed Login -->
                <span v-if="record.timestamps.last_failed_login_at != null">
                    <div class="alert alert-warning" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Last Failed Login</h3>
                        <p class="mb-0">{{ record.timestamps.last_failed_login_at }}</p>
                    </div>
                </span>

                <!-- Last Password Change -->
                <div v-if="record.flags.flag_must_change_password == 1">
                    <div class="alert alert-danger" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Password Change Required</h3>
                        <p class="mb-0">Password Must Be Changed on Next Login</p>
                    </div>
                </div>
                <div v-else-if="record.timestamps.password_changed_at != null">
                    <div class="alert alert-success d-flex" role="alert">
                        <div class="flex-fill mr-3">
                            <h3 class="alert-heading font-size-h4 my-2">Last Password Change</h3>
                            <p class="mb-0">{{ record.timestamps.password_changed_at }}</p>
                        </div>
                        <div class="flex-00-auto">
                            <b-button variant="outline-success">Reset</b-button>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="alert alert-warning" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Last Password Change</h3>
                        <p class="mb-0">Password Has Not Been Set Yet</p>
                    </div>
                </div>

                <!-- Flag Account Verified -->
                <div v-if="record.flags.flag_account_verified == 1">
                    <div class="alert alert-success" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Account Verified</h3>
                        <p class="mb-0">Verified on {{ record.timestamps.verified_at }}</p>
                    </div>
                </div>
                <div v-else>
                    <div class="alert alert-danger" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Account Verification</h3>
                        <p class="mb-0">Email Address Has Not Been Verified Yet</p>
                    </div>
                </div>

                <!-- Flag Terms Accepted -->
                <div v-if="record.flags.flag_terms_accepted == 1" class="text-success">
                    <div class="alert alert-success" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Term and Conditions</h3>
                        <p class="mb-0">Accepted {{ record.timestamps.terms_accepted_at }}</p>
                    </div>
                </div>
                <div v-else class="text-danger">
                    <div class="alert alert-danger" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Term and Conditions</h3>
                        <p class="mb-0">Not Accepted Yet</p>
                    </div>
                </div>

                <!-- Flag Account Expires -->
                <div v-if="record.flags.flag_account_expired == 1" class="text-danger">
                    <div class="alert alert-danger" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Account Expiration</h3>
                        <p class="mb-0">Expired on {{ record.timestamps.expires_at }}</p>
                    </div>
                </div>
                <div v-else-if="record.timestamps.expires_at != null" class="text-info">
                    <div class="alert alert-info" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Account Expiration</h3>
                        <p class="mb-0">Expires on {{ record.timestamps.expires_at }}</p>
                    </div>
                </div>
                <div v-else class="text-success">
                    <div class="alert alert-success" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Account Expiration</h3>
                        <p class="mb-0">Does Not Expire</p>
                    </div>
                </div>

                <!-- Flag Account Locked -->
                <div v-if="record.flags.flag_account_locked == 1" class="text-danger">
                    <div class="alert alert-danger" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Account Lock</h3>
                        <p class="mb-0">Locked on {{ record.timestamps.locked_at }}</p>
                    </div>
                </div>
                <div v-else class="text-success">
                    <div class="alert alert-success" role="alert">
                        <h3 class="alert-heading font-size-h4 my-2">Account Lock</h3>
                        <p class="mb-0">Not Locked</p>
                    </div>
                </div>

            </div>
        </div>




        <div class="block">
            {{ record }}
        </div>



    </div>

</template>


<script>
export default {
    data() {
        return {
            record: undefined,
            tenants: undefined,
        }
    },
    mounted() {
        axios
        .get('http://labs-api.valet/v1/admin/auth/user/accounts/' + this.id + '?include=auth-user-devices,tenant-users,tenant-users.tenant-account')
        .then((response) => {
            this.record = response.data.data;
        });
        axios
        .get('http://labs-api.valet/v1/admin/auth/user/accounts/' + this.id)
        .then((response) => {
            this.record = response.data.data;
        });
    },
    props: ['id']
}
</script>
