<template>

    <div>

        <div class="row">
            <div class="col-lg-7">

                <div class="block block-bordered">
                    <div class="block-content">

                        <h2 class="content-heading pt-0 d-flex">
                            <div class="flex-fill">
                                Team Account
                            </div>
                            <div class="flex-00-auto">
                                <b-button v-b-modal.create-user-account-modal variant="outline-primary" class="m-0">Edit User Account</b-button>
                                <!--<small><code>{{ record.short_id }}</code></small>-->
                            </div>
                        </h2>

                    </div><!-- END block-content -->
                </div><!-- END block -->

            </div>

        </div>

    </div>

</template>


<script>
export default {
    data() {
        return {
            record: undefined,
            tenants: undefined,
        }
    },
    mounted() {
        axios
        .get('http://labs-api.valet/v1/admin/tenant/accounts/' + this.id)
        .then((response) => {
            this.record = response.data.data;
        });
        axios
        .get('http://labs-api.valet/v1/admin/tenant/accounts/' + this.id)
        .then((response) => {
            this.record = response.data.data;
        });
    },
    props: ['id']
}
</script>
